
html
{
	height: auto;
	width: auto;
}

body
{
	color: hsla(48, 67%, 10%, 0.65);
	height: auto;
	margin: 10px;
	width: auto;
	padding: 0;

	background: hsla(206, 25%, 100%, 1);
	line-height: 1.2em;
	font-family: Arial, Sans, Verdana;
	font-size: 12px;
	font-weight: 400;
}

em
{
	color: hsla(0, 80%, 70%, 1);
}

fieldset
{
	background-color: hsla(228, 15%, 90%, 0.85);
	border: 2px solid hsla(48, 67%, 30%, 0.65);
	width: 280px;
	margin-bottom: 10px;
	border-radius: 12px;
	box-shadow: 5px 10px 25px hsla(48, 57%, 30%, 0.35);
}

legend
{
	font-size: 1.2em;
}

#logo
{
	position: relative;
	left: 50%;
	margin-left: -250px;
	margin-top: -5px;
	/*background: hsla(228, 15%, 10%, 0.85) url('logo.png') no-repeat;*/
	background: url('logo.png') no-repeat;
	background-position: center;
	/*border: 2px solid hsla(228, 15%, 0%, 0.15);*/
	width: 500px;
	height: 565px;
	z-index: -3;
}

#main
{
	left: 50%;
	position: relative;
	margin-top: -415px;
	margin-left: -570px;
}


a:link
{
	font-size: 1.2em;
	color: hsla(228, 15%, 20%, 0.85);
	text-decoration: none;
}

a:visited
{
	color: hsla(228, 15%, 20%, 0.85);
	text-decoration: none;
}

a:hover
{
	color: hsla(48, 67%, 40%, 0.65);
	text-decoration: none;
}

a.textlink
{
	font-size: 0.8em;
}

.links
{
	margin-bottom: -4px;
}

.upcomingEvents
{
	text-shadow: 1px 1px hsla(48, 57%, 30%, 0.45);
	font-size: 1.2em;
	line-height: 150%;
}

.event
{
	font-style: italic;
}

.small
{
	font-size: 0.9em;
}

